# .DS_Store files are for viewing preferences in OSX
.DS_Store

# XCode user preferences files
*.pbxuser
*.mode1v3

# Visual Studio working files
BuildLog.htm
GlopDbg.lib
GlopRls.lib
*.exe
*.idb
*.ilk
*.ncb
*.obj
*.pdb
*.suo
